@import "tipografia"; 
/** VARIABLES **/
$lila: rgb(223, 98, 223);
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $lila;
    text-align: center;
    margin: 10px 0px;
}
h2 { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $lila;
    }
h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color:$lila;
        }

nav {
 background-color: $lila;
}
li a {
     background-color: $lila;
    }
    
