*{
    margin: 0;
}

h1{
    display: inline-block;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 10px 0px;
    color: rgb(223, 98, 223);
    font-weight: bolder;
}
h1::after, h1::before {
content: "";
position: absolute;
width:100px;
height: 3px;
background-color: rgb(223, 98, 223);
top: 0.6em;
}
h1::before {
    left: -120px;
}
h1::after {
    right: -120px;
}
.ancho {
    width: 100%
    }

.margen {
    margin: 10px 20px;
    }

 #margen {
       margin: px;
}
.margen-interno {
    padding: 10px 10px;
    margin-left: 5px;
    margin-right: auto;
    text-align: left;
}
.margenes{ 
    margin: 20px 50px;
}

    
.boton {
    border-radius: 5px;
    background-color:antiquewhite;
    padding: 7px;
    margin: 10px ;
     }
  
h2 { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

p {
    font-family:Arial, Helvet;
     text-align:left;
     margin: 10px;
    padding: 10px;
    }
    
.nosotros {
    width: 90%;
    padding: 30px 0px 350px 25px;
    text-align:left;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;  
}     
    
.izquierda {
    text-align: left;
    padding: 5px 10px;
    margin: 10px 0px;
    }
.derecha {
    text-align: right;
    margin:0px 20px 10px 0px;
    }
   
h3 {
    display: inline-block;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 10px 0px;
    color: rgb(223, 98, 223);
    font-weight: bolder;
    }
    h3::after,h3::before {
        content: "";
        position: absolute;
        width:120px;
        height: 3px;
        background-color: rgb(223, 98, 223);
        top: 0.6em;
        }
        h3::before {
            left: -140px;
        }
        h3::after {
            right: -140px;
        }
    h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 0px 10px 0px;
    padding: 5px 0px;
    background-color: rgb(223, 98, 223);
    color:black;
    }
  
.color {
    text-align: center;
    background-color:rgb(240, 224, 204);
}

.contacto {
 padding: 10px;
}

.formulario {
    margin: 10px 0px;
    padding: 10px 0px 500px 10px;
    }
.formulario1 {
    margin: 10px 10px;
    padding: 10px 10px 450px 10px;
    }

.lila {
    background-color: rgb(223, 98, 223);
}

.animacion {
animation-duration: 5s;
animation-name: aparecer;
animation-iteration-count: infinite;
background-color: rgb(246, 8, 8);
}
@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 5;
    }
}  

.registrarse {
    align-items:inherit;
}

.centro {
    justify-content: center;
    }

.redes {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: rgb(223, 98, 223);
}
a svg {
    padding: 5px;
}
.item {
    margin-left: 24px;
    padding: 0px;
  }

.item2 {
    margin-right: 20px;
}

.rosa:hover {
  background-color: rgb(252, 150, 252);
  transition: all 400ms ease;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-5%);
}

#card:hover {
    transition: all 400ms ease;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-5%);
    
}

@media (max-width: 480px){
    .redes {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        background-color: rgb(223, 98, 223);
        
    }
    .item {
        margin-left: 19px;
        padding: 0px;
    }
    .item2 {
        margin-right: 18px;
        padding-top: 0px;
        padding-bottom: 2px;
        
    }
    a svg {
        width: 25px;
        height: 25px;
        padding-left: 2px;
    }
    svg {
        width: 22px;
        height: 22px;
    }
    a img {
         width: 130px;
    }
    .h1 {
        display: inline-block;
        position: relative;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: 20px;
        margin: 10px 0px;
        color: rgb(223, 98, 223);
        font-weight: bolder;
    }
    .h1::after, .h1::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: rgb(223, 98, 223);
    top: 0.6em;
    }
    .h1::before {
        left: -70px;
    }
    .h1::after {
        right: -70px;
    }

}
